@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Secular+One&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  --nextjs: rgb(234, 18, 241);
  --react: rgb(248, 161, 20);
  --javascript: rgb(219, 93, 34);
  --html: rgb(38, 206, 150);
  --css: rgb(198, 200, 33);
  --database: rgb(30, 126, 4);
  --mood: rgb(37, 181, 15);
  --angular: rgb(255, 0, 0);
}

html {
  background: url("/images/bg_top.svg"), url("/images/bg_bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top center, bottom center;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(37, 88, 182);
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  color: rgb(0, 111, 208);
  text-shadow: 2px 1px 1px white;
  font-family: 'Secular One', sans-serif;
  box-shadow: 0 0 5px rgb(0,111,208);
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0,111,208,.15);
  padding: 50px 10px 10px 10px;
}

h2 {
  font-family: 'Indie Flower', cursive;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  color: #fff;
  font-size: 14px;
  line-height: .5;
}

em {
  /* font-weight: bold; */
  color: rgb(138, 0, 138);
}

strong {

  color: rgb(138, 0, 138);
}

pre {
  background-color: rgb(0, 74, 139);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(5, 46, 81);
  line-height: 90%;
  border-radius: 10px;
  overflow: auto;
}

time {
  color: rgb(0, 111, 208);
}

.contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.contact * {
  color: rgb(170, 194, 206);
}

.contact *:hover {
  color: rgb(0, 111, 208);
}